{
	"TargetName" : "Project_PlanetDefEditor",
	"Platform" : "Win64",
	"Configuration" : "Development",
	"BuildId" : "8203e9cf-96b8-4af6-bad6-df9d134ed3ba",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 11,
		"PatchVersion" : 2,
		"Changelist" : 2946394,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.11"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)\\Plugins\\BlankInputDevicePlugin\\Binaries\\Win64\\UE4Editor-BlankInputDevicePlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BlankInputDevicePlugin\\Binaries\\Win64\\UE4Editor-BlankInputDevicePlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\BlankInputDevicePlugin\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-BlankInputDevicePlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-Project_PlanetDef.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-Project_PlanetDef.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-Project_PlanetDef.lib",
			"Type" : "ImportLibrary"
		}
	],
	"RuntimeDependencies" :
	[
	]
}